doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    title Stocks, a Free Code Camp Project
    script(src='/static/js/pre.bundle.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Work+Sans|Roboto')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css' integrity='sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css' integrity='sha256-Q9c+RVayp4Y4gEKE3jaABDEwnMlDf6cFEWEQSzFaOB8=' crossorigin='anonymous')
    link(rel='stylesheet' href='/static/css/style.css')
  body
    
