doctype html
html(lang='en')
  head
    title Stocks, a Free Code Camp Project
    script(src='/static/js/pre.bundle.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Bevan|Roboto')
    link(rel='stylesheet' href='/static/css/style.css')
  body
    
