include /includes/header.pug
section.graph
  form
    button.test-urls(type='button') test urls
    input.stock-ticker(type='text' placeholder='type stock ticker' pattern='^[A-Za-z\\.\\- ]{1,7}$')
    button.submit-btn(type='submit') submit
    input.delete-stock-ticker(type='text' placeholder='type stock ticker' pattern='^[A-Za-z\\.\\- ]{1,7}$')
    button.delete-btn(type='submit') delete
  #chart
section.stocks
  .stock
    .stock__ticker
    .stock__company-name
    .remove-button
include /includes/footer.pug
