include /includes/header.pug
section.site__title Stock Performance
section.graph
  .chart
  div(class='row')
    div.form--ticker(class='medium-6 large-6 columns')
      div(class='input-group')
        span(class='input-group-label') Add Stock:
        input.form__input--add(class='input-group-field' type='text')
        div(class='input-group-button')
          input.btn.btn--submit(class='button hollow secondary' type='submit' value='+')
    div.form--ticker(class='medium-6 large-6 columns')
      div(class='input-group')
        span(class='input-group-label') Remove Stock:
        input.form__input--remove(class='input-group-field' type='text')
        div(class='input-group-button')
          input.btn.btn--remove(class='button hollow secondary' type='submit' value='-')
  .error-message.visibility--hide Invalid stock code.
section.stocks
//
  .stock
    .stock__ticker
    .stock__company-name
    .stock__remove
include /includes/footer.pug
