$primary-color: #1779ba; // foundation blue

/********************************************************/
// helpers
.visibility--show {
  visibility: visible !important;
}

.visibility--hide {
  visibility: hidden !important;
}

.display--show {
  display: initial !important;
}

.display--hide {
  display: none !important;
}


/********************************************************/
// generics

*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  width: 80%;
  max-width: 960px;
  margin: 2rem auto;
}

button {
  border: none;
  &:hover {
    cursor: pointer;
  }
}

/********************************************************/
// foundation overrides:
.input-group {
  margin-bottom: 0;
}

.button {
  &:focus {
    outline: none;
  }
}

/********************************************************/
// personal classes

.site__title {
  font-size: 1.5rem;
}

.chart {
  width: 100%;
  max-width: 960px;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// cog wheel loader
.chart-loader {
  width: 10%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;

  .ct0, .ct1 {
    stroke: #999;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .ct0 {
    fill: none;
  }
  .ct1 {
    fill: none;
  }
}

.form {
  &--ticker {
    padding: 0.5rem;
  }
  &__input {
    &--add, &--remove {
      text-align: left;
    }
  }
}

.error-message {
  color: #cc4b37; // foundation red
  margin-bottom: 1rem;
}

.wrapper--stock {
  padding: 0;
}

.stock {
  margin: 0.5rem;
  position: relative;
  text-align: right;
  padding: 1rem;

  // no reason to do something like this;
  // can just make a wrapper and set the margin on the inner div
  // to simulate an "internal" border
  /*
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    //content: '';
    content: '';
    height: calc(100% - 0.6rem);
    width: calc(100% - 0.6rem);
    border: 1px solid attr(data-border-color);
    margin: 0.3rem;
  }
  */

  &__ticker {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);

    font-family: 'Work Sans';
    font-size: 2rem;
    font-weight: bold;
    color: gray;
  }

  &__company-name {
    margin-right: 1rem;
    text-align: right;
    display: inline-block;
    font-family: Roboto;
    font-size: 0.8rem;
    
  }
  
  &__remove {
    margin: 0;
    position: relative;
    width: 40px;
    height: 40px;

    &--icon {
      padding-bottom: 0.1rem;
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/********************************************************/
footer {
  margin-top: 2rem;
}

